<template>
  <section>
    <div id="bg1">
      <!-- <img src="../assets/bg.png"/> -->
      <div class="container">
        <div class="border1">
          <div class="border-text1">
            <h1>もっと おトク、便利に！</h1>
          </div>
          <div class="border-text2">
            <h4>OWNDAYSの会員サービス 『OWNDAYSメンバーシップ』</h4>
          </div>
        </div>
        <div class="border-row1">
          <div class="border2">
            <div class="icon1">
              <img src="../icon/icon-point.png" />
            </div>
            <div class="border-text3">
              <span>ポイントが 貯まる・使える</span>
            </div>
          </div>
          <div class="border3">
            <div class="icon2">
              <img src="../icon/icon-friend.png" />
            </div>
            <div class="border-text4">
              <span>お友達紹介で どちらもおトク！</span>
            </div>
          </div>
        </div>
        <div class="border-row2">
          <div class="border4">
            <div class="icon3">
              <img src="../icon/icon-rank.png" />
            </div>
            <div class="border-text5">
              <span>ランクが上がると 還元率もアップ！</span>
            </div>
          </div>
          <div class="border5">
            <div class="icon4">
              <img src="../icon/icon-mobile.png" />
            </div>
            <div class="border-text6">
              <span>会員だけが使える 便利でお得な機能</span>
            </div>
          </div>
        </div>
        <div class="border-row3">
          <div class="border6">
            <div
              class="border-text7"
              style="display: flex; flex-direction: row"
            >
              <span id="text7">サービス詳細・登録はこちら</span>
              <div class="icon5">
                <img src="../icon/arrow-right.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "HomeView",
  components: {
    // HelloWorld,
  },
};
</script>
<style scoped>
#bg1 {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  width: 1400px;
  height: 560px;
  position: fixed;
  min-height: 100%;
  min-width: 1024px;
  /* UI Properties */
  background: transparent url("../assets/bg.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
/* #bg{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}
.image-1 {
  background-image: url("../assets/bg.png")
} */
/* .container .border1{
  float: left;
} */
.border-row1{
  display: flex;
  flex-direction: row;
}
.border-row2{
  display: flex;
  flex-direction: row;
}
.border-row3{
  display: flex;
  flex-direction: row;
}
.border1 {
  margin-top: 105px;
  margin-left: 140px;
  width: 350px;
  height: 350px;
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  float: left;
}
.border-text1 {
  margin-top: 31px;
  margin-left: 50px;
  width: 194px;
  height: 203px;
}
.border-text2 {
  margin-top: 19px;
  margin-left: 48px;
  width: 254px;
  height: 54px;
}
h1 {
  font-family: NotoSansJP-Regular;
  font-weight: 400;
  font-size: 47px;
  color: #ffffff;
  text-align: left;
}
h4 {
  font-family: "NotoSansJP-Regular";
  font-weight: 200;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
.border2 {
  /* Layout Properties */
  margin-top: 79px;
  margin-left: 465px;
  width: 150px;
  height: 150px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border3 {
  /* Layout Properties */
  margin-top: 79px;
  margin-left: 5px;
  width: 150px;
  height: 150px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border4 {
  /* Layout Properties */
  margin-top: 5px;
  margin-left: 465px;
  width: 150px;
  height: 150px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border5 {
  /* Layout Properties */
  margin-top: 5px;
  margin-left: 5px;
  width: 150px;
  height: 150px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border6 {
  /* Layout Properties */
  margin-top: 5px;
  margin-left: 465px;
  width: 305px;
  height: 83px;
  /* UI Properties */
  background: #516075 0% 0% no-repeat padding-box;
  opacity: 1;
}
.icon1 {
  position: absolute;
  top: 107px;
  left: 1003px;
}
.icon2 {
  position: absolute;
  top: 110px;
  left: 1148px;
}
.icon3 {
  position: absolute;
  top: 264px;
  left: 1008px;
}
.icon4 {
  position: absolute;
  top: 257px;
  left: 1158px;
}
.icon5 {
  position: absolute;
  top: 0px;
  left: 240px;
}
span {
  font-family: "NotoSansJP-Bold";
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.1px;
  text-align: center;
}
#text7 {
  font-family: "NotoSansJP-Bold";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.1px;
  text-align: center;
}
.border-text3 {
  position: absolute;
  top: 171px;
  left: 982px;
  width: 100px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text4 {
  position: absolute;
  top: 171px;
  left: 1125px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text5 {
  position: absolute;
  top: 326px;
  left: 974px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text6 {
  position: absolute;
  top: 326px;
  left: 1125px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text7 {
  position: absolute;
  top: 421px;
  left: 974px;
  width: 189px;
  height: 39px;
  text-align: center;

  /* UI Properties */
  color: #ffffff;
  opacity: 1;
}

@media (max-height: 1024px) and (max-width: 768px) {
  #bg1 {
    /* Layout Properties */
    position:absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-width: 1024px;
    /* UI Properties */
    background: transparent url("../assets/bg.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: contain;
  }
  .border-row1{
    display: flex;
    flex-direction: row;
  }
.border-row2{
  display: flex;
  flex-direction: row;
}
.border-row3{
  display: flex;
  flex-direction: row;
}
.border1 {
  position: absolute;
  top: 300px;
  left: 140px;
  width: 350px;
  height: 350px;
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  float: left;
}
.border-text1 {
  margin-top: 31px;
  margin-left: 50px;
  width: 194px;
  height: 203px;
}
.border-text2 {
  margin-top: 19px;
  margin-left: 48px;
  width: 254px;
  height: 54px;
}
h1 {
  font-family: NotoSansJP-Regular;
  font-weight: 400;
  font-size: 47px;
  color: #ffffff;
  text-align: left;
}
h4 {
  font-family: "NotoSansJP-Regular";
  font-weight: 200;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
.border2 {
  float: left;
  /* Layout Properties */
  margin-top: 48px;
  margin-left: 32px;
  width: 76px;
  height: 76px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border3 {
  float: right;
  /* Layout Properties */
  margin-top: 48px;
  margin-left: 552px;
  width: 76px;
  height: 76px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border4 {
  float: left;
  /* Layout Properties */
  margin-top: 13px;
  margin-left: 32px;
  width: 76px;
  height: 76px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border5 {
  float: right;
  /* Layout Properties */
  margin-top: 13px;
  margin-left: 552px;
  width: 76px;
  height: 76px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}
.border6 {
  /* Layout Properties */
  margin-top: 5px;
  margin-left: 465px;
  width: 305px;
  height: 83px;
  /* UI Properties */
  background: #516075 0% 0% no-repeat padding-box;
  opacity: 1;
}
.icon1 {
  position: absolute;
  top: 48px;
  left: 32px;
}
.icon2 {
  position: absolute;
  top: 110px;
  left: 1148px;
}
.icon3 {
  position: absolute;
  top: 264px;
  left: 1008px;
}
.icon4 {
  position: absolute;
  top: 257px;
  left: 1158px;
}
.icon5 {
  position: absolute;
  top: 0px;
  left: 240px;
}
span {
  font-family: "NotoSansJP-Bold";
  font-weight: bold;
  font-size: 7px;
  color: #000000;
  letter-spacing: 0.1px;
  text-align: center;
}
#text7 {
  font-family: "NotoSansJP-Bold";
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.1px;
  text-align: center;
}
.border-text3 {
  position: absolute;
  top: 96px;
  left: 45px;
  width: 50px;
  height: 19px;
  text-align: center;
  /* UI Properties */
  letter-spacing: 0.28px;
  color: #000000;
  opacity: 1;
}
.border-text4 {
  position: absolute;
  top: 171px;
  left: 1125px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text5 {
  position: absolute;
  top: 326px;
  left: 974px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text6 {
  position: absolute;
  top: 326px;
  left: 1125px;
  width: 120px;
  height: 39px;
  text-align: center;
  /* UI Properties */
  color: #000000;
  opacity: 1;
}
.border-text7 {
  position: absolute;
  top: 421px;
  left: 974px;
  width: 189px;
  height: 39px;
  text-align: center;

  /* UI Properties */
  color: #ffffff;
  opacity: 1;
}
}

</style>
